[Unit]
Description=OpenHES ohsrv startup job
Requires=mqtt-broker.service
After=mqtt-broker.service

[Container]
ContainerName=openhes-ohsrv
Image=localhost/openhes:dev
Pod=openhes.pod
Exec=/opt/openhes/build/ohsrv

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=120

[Install]
WantedBy=default.target
